@model Portal.ViewModels.ShowViewModel

@{
    ViewBag.Title = "Delete";
}

@{Layout = "~/Views/Shared/_LayoutAdmin.cshtml";}

<div class = "container">
    <div class = "row">
        <div class = "col-md-offset-1">
            <br />
            <div class = "alert alert-danger alert-dismissible warning" role = "alert">
                <strong><h2>Uwaga!! </strong>Czy na pewno chcesz usunąć ten seans ?</h2>
                <h3>Data i Godzina Seansu: @Html.DisplayFor(model => model.DateTimeShow)</h3>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class = "form-group">
                    <div class = "col-md-offset-5">
                        <button type = "submit" class = "btn btn-success btn-lg">Usuń</button>
                        <a href = "@Url.Action("Index", "Shows")" class = "btn btn-danger btn-lg" role = "button">Powrót do listy</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>